/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
.container_section{
    margin-top: 120px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*header*/
.header_back{
    background: #217C9C;
}
.top_logo{
    height: 110px;
    margin-left: 15%;
}
.experienced{
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 26%;
    font-weight: bold;
}
.phone_contact{
    border-radius: 5px 72px 30px;
    background: #000;
    height: 45px;
    margin-top: 7px;
}

.live_chat {
    padding: 10px;
    border-radius: 5px;

    /* HOVER OFF */
    -webkit-transition: padding 2s;
}

/* Pulse Grow */
@-webkit-keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.phone_header{
    color: #ffffff;
    font-size: 24px;
}

.pulse-grow {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow:hover, .pulse-grow:focus, .pulse-grow:active {
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/* Wobble Bottom */
@-webkit-keyframes wobble-bottom {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes wobble-bottom {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.wobble-bottom {
    display: inline-block;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-bottom:hover, .wobble-bottom:focus, .wobble-bottom:active {
    -webkit-animation-name: wobble-bottom;
    animation-name: wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.social_logo{
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.social_logo:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/*carasaul-homepage*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

/*contact-us form*/
.contact_input_form{
    width: 65%;
}
.form_submit{
    width: 65%;
    margin: 2px 0px;
    background: #1C8FE0;
    font-size: 20px;
    color: #ffffff;
}
.any_questions p{
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    font-family: Georgia, serif;;
}
.any_questions p:nth-child(2){
    font-size: 1.3em;
}
.any_questions p:nth-child(2) span{
    font-weight: bold;
    font-style: italic;
    color: #000000;
}
.any_questions p:nth-child(3){
    font-size: 1.2em;
}
.contact_form_details{
    background: #1C8FE0;
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
}
.form_label label{
   color: #ffffff;
}

/*feedback form*/
.feedback{
    position:absolute;
    right:0;
    top:50px;
}
.feedback a {
    display:block;
    height:50px;
    width:100px;
    text-align:center;
    background:gray;
    border:2px solid #fff;
    outline:1px solid #a1a1a1;
    padding:5px;
    float:right;
    cursor:pointer;

    /*Font*/
    color:#FFF;
    font-weight:bold;
    font-size:18px;
}
.feedback .form{
    clear:both;
    height:300px;
    width:450px;
    border:1px solid #000;
    background:#fff;
    padding:15px;
    display: none;
}
.feedback .form textarea{
    height:170px;
    width:400px;
    padding:5px;
}
.feedback .status{
    font-size:16px;
}
.question_img{
    margin-top: 10px;
}

/*homepage carasaul bootstrap*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.is_carasaul{
    background: gray;
    color: blue;
}
.carousel {
    margin: 80px 0px 0px 0px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    top: 100px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 500px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}


/*why choose taylor section*/
.why_taylor_first h2{
    margin: 0px 0px 15px 0px;
    border-top: 5px solid gray;
}
.why_taylor p{
    font-size: 16px;
    font-family: Montserrat;
}
/*why choose taylor section ends*/


/*Personal Injury*/
.personal_sidebar{
    list-style-type: none;
    text-transform: uppercase;
    padding-top: 10px;
}
.personal_sidebar li{
    margin-bottom: 25px;
    text-align: left;
}
.personal_sidebar li a{
    color: #217C9C;
}
/*Personal Injury Ends*/


/*Victory Page*/
.vic_description{
    background: #3685BE;
    text-align: justify;
    color: #ffffff;
    padding: 10px;
}

/*locations page*/
#map{
    width: 832px;
    height: 400px;
    left: 20px;
    margin-bottom: 10px;
}
/*location page ends*/

/*video center page*/
.video_center{
    margin-top: 100px;
}
.video_center h2{
    margin-bottom: 10px;
}
/*video center page ends*/
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {


    .carousel .item {
        height: 500px;
    }
    .carousel img {
        width: auto;
        height: 500px;
    }
}

@media (max-width: 767px) {

    .navbar-inner {
        margin: -20px;
    }
    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }
    .carousel {
        margin: -15px 0px 0px 0px;
    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        height: 300px;
    }
    .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
    }
    .carousel-caption h1 {
        font-size: 10px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 18px;
    }
    .container{
        margin-top: 32%;
    }

    /*form inline on homepage*/
    .form_inline_contact{ width: 147%;}
    /*footer navbar*/
    .navbar-inverse{
        height: 20px;
        }
    /*responsive for header*/




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

