html { border: 0; }
body { margin:0px; }
img { border:none; }
td>img { vertical-align:bottom; }
td>a>img { vertical-align:bottom; }
td>input[type=image] { vertical-align:bottom; }

/* Other Styles */
textarea{font-family:Arial;}

/* Dialog box */
* html .png {
    behavior: expression(
				this._bg = this._bg || this.currentStyle.backgroundImage.split('"')[1],
				this.style.background = "none",
				this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+this._bg+", sizingMethod='crop')",
				this.style.behavior = "none"
			);
}

* html img.png {
    behavior: expression(
				this._src = this._src || this.src,
				this.style.width = this.width+"px",
				this.style.height = this.height+"px",
				this.src = "/Shared/images/spacer.gif",
				this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+this._src+", sizingMethod='crop')",
				this.style.behavior = "none"
			);
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

html.no-generatedcontent .clearfix {
    zoom: 1;
}

.cf:after {
    content: ' ';
    display: block;
    clear: both;
}

html.no-generatedcontent .cf {
    zoom: 1;
}

img.creditcard {
    width:40px;
    height:30px;
    border:none;
    background:url(/Shared/images2/CreditCards.png) no-repeat 0px 0px;
    _background:url(/Shared/images2/CreditCards.gif) no-repeat 0px 0px;
}
img.creditcard.Visa				{ background-position:   0px 0px; }
img.creditcard.MasterCard		{ background-position: -40px 0px; }
img.creditcard.American-Express	{ background-position: -80px 0px; }
img.creditcard.Discover			{ background-position:-120px 0px; }
img.creditcard.Diners_Club		{ background-position:-160px 0px; }
img.creditcard.Diners-Club		{ background-position:-160px 0px; }
img.creditcard.PayPal			{ background-position:-200px 0px; }
img.creditcard.Google-Checkout	{ background-position:-240px 0px; }
img.creditcard.Square			{ background-position:-280px 0px; }
img.creditcard.Amazon-Payments	{ background-position:-320px 0px; }
img.creditcard.Cash				{ background-position:-360px 0px; }
img.creditcard.Check			{ background-position:-400px 0px; }

span.validator {
    font-weight:bold;
    color:#AA0000;
}

div.ui-dialog {
    position:absolute;
    background-color:#ffffff;
    font-family:Arial;
}

div.ui-dialog div.ui-dialog-additional {
    position:absolute;
    background-color:#ffffff;
    right:-200px;
    top:0px;
    width:190px;
}

div.ui-dialog table {
    border-collapse: separate;
}

div.ui-dialog-titlebar {
    height:37px;
    background:#2c6ba3 url(/Admin/images2/dialog-bg.png) no-repeat 0px 0px;
    font:normal 18px/36px Arial;
    padding-left:15px;
    color:#fff;
    cursor:default;
}

span.ui-dialog-title {
    float:left;
    padding-right:15px;
    font:normal 18px/36px Arial;
}

span.ui-dialog-title a {
    font:normal 18px/36px Arial;
    color: #fff;
    text-decoration:underline;
}

div.no-title div.ui-dialog-titlebar {
    height:10px;
}

a.ui-dialog-titlebar-close {
    display:block;
    text-decoration:none;
    font:normal 14px Arial;
    color:#333;
    vertical-align:middle;
    line-height:36px;
    white-space:nowrap;
    cursor:pointer;
    position:absolute;
    right:-12px;
    top:-9px;
    z-index:2;
}

span.ui-dialog-close-btn {
    display:block;
    width:25px;
    height:27px;
    border:none;
    background:url(/Admin/images2/Close3.png) no-repeat;
}

div.ui-dialog-titlebar.video-vault span.ui-dialog-close-btn {
    display:block;
    width:38px;
    height:39px;
    border:none;
    background:url(/Admin/images2/Close4.png) no-repeat;
}

a.ui-dialog-titlebar-close strong {
    font:bold 17px Arial;
    vertical-align:middle;
    line-height:35px;
}

a.ui-dialog-titlebar-close:hover {
    color:#000;
    text-decoration:none;
}

div.ui-dialog-header {
    font: normal 16px/20px Arial;
    color: #3f83bc;
    padding:10px 16px;
    height:22px;
    border-bottom: solid 1px #d3d3d3;
}

div.ui-dialog-header a {
    font: normal 12px/20px Arial;
    color:#65ACDC;
}

div.ui-dialog-header td {
    padding:0px 5px 0px 0px;
    vertical-align:middle;
    color:#707070;
}

div.ui-dialog-header label {
    font: normal 16px/20px Arial;
    color: #3f83bc;
}

div.ui-dialog-header label.sub {
    font: normal 14px/20px Arial;
    color: #909090;
}

div.ui-dialog-content {
    border:solid 1px #d3d3d3;
    border-top:none;
}

div.ui-dialog-content .ui-dialog-iframe {
    border:none !important;
    margin: 0px !important;
    padding: 0px !important;
}

div.ui-dialog-top {
    border-top:solid 1px #d3d3d3;
}

div.ui-dialog.simple {
    border-radius: 5px;
    background:none;
}

div.ui-dialog.simple div.ui-dialog-titlebar {
    background:#707070;
    height:10px;
    border:solid 1px #b0b0b0;
    padding:0px;
    border-bottom:none;
    border-right-color: #606060;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.ui-dialog.simple div.ui-dialog-titlebar span.ui-dialog-title {
    display:none;
}

div.ui-dialog.simple div.ui-dialog-top {
    border-top:none;
}
div.ui-dialog.simple div.ui-dialog-content {
    background:#707070;
    border:solid 1px #606060;
    border-left:solid 1px #b0b0b0;
    border-top:none;
    padding:0px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.ui-dialog-main {
    position:relative;
}

div.ui-alert, div.ui-confirm {
    font:normal 13px/17px Arial;
    color:#707070;
    padding:16px;
}

div.ui-alert div, div.ui-alert span, div.ui-alert li, div.ui-confirm div, div.ui-confirm span, div.ui-confirm li {
    font:normal 13px/17px Arial;
    color:#707070;
}

div.ui-alert span.validator {
    font:bold italic 13px/17px Arial;
    color:#955d4b;
}

div.ui-widget-overlay {
    position:absolute;
    top:0px;
    left:0px;
    background-color:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    z-index:100;
    visibility:visible !important;
}

div.ui-widget-overlay2 {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    z-index:1000;
    visibility:visible !important;
}

div.ui-drop-shadow {
    margin:0px;
    padding:0px;
    width:auto;
    height:7px;
    background:url(/Admin/images2/Main-Shadow.png) repeat-x;
    _display:none;
}

div.ui-dialog-buttonpane {
    height:37px;
    background:#fff url(/Admin/images2/Bottom-Pane-Bg.gif) repeat-x;
    border:solid 1px #d3d3d3;
    border-top:none;
    width:auto;
    position:relative;
}

div.ui-dialog-buttonpane div.ui-dialog-footer {
    float:left;
    font:normal 11px/40px Arial;
}

div.ui-dialog-buttonpane div.ui-dialog-footer span {
    font:normal 11px/40px Arial;
    color:#909090;
}

div.ui-dialog-buttonpane div.ui-dialog-footer strong {
    font:bold 11px/40px Arial;
    color:#3F83BC;
}

div.ui-dialog-buttonchild {
    float:right;
    margin:0px 10px 0px 0px;
}

div.ui-dialog-buttonset {
    float:right;
    margin:0px 10px 0px 0px;
}

div.ui-dialog-buttonpane a.ui-button {
    float:left;
    border:none;
    margin:7px 0px 0px 5px;
    padding:0px 0px 0px 0px;
    height:23px;
    cursor:pointer;
    outline:none;
    overflow:visible;
    text-decoration:none;
    _width:90px;
}

div.ui-dialog-buttonpane a.ui-button span.ui-button-text {
    color:#707070;
    display:block;
    margin:0px 0px 0px 10px;
    padding:0px 10px 0px 0px;
    font:bold 13px/13px Arial;
    height:23px;
    line-height:23px;
    outline:none;
    text-transform:uppercase;
}

div.ui-dialog-buttonpane a.ui-button:hover span.ui-button-text {
    color:#909090;
}

div.ui-dialog-buttonpane a.ui-button.active {
    background:url(/Admin/images2/Toolbar_01.gif) no-repeat left -46px;
}

div.ui-dialog-buttonpane a.ui-button.active:hover {
    background-position:left -115px;
}

div.ui-dialog-buttonpane a.ui-button.active:active {
    background-position:left -115px;
}

div.ui-dialog-buttonpane a.ui-button.active:focus {
    background-position:left -115px;
}

div.ui-dialog-buttonpane a.ui-button.active span.ui-button-text {
    background:url(/Admin/images2/Toolbar_02.gif) no-repeat right -46px;
    color:#fff;
}

div.ui-dialog-buttonpane a.ui-button.active:hover span.ui-button-text {
    background-position:right -115px;
}

div.ui-dialog-buttonpane a.ui-button.active:active span.ui-button-text {
    background-position:right -115px;
}

div.ui-dialog-buttonpane a.ui-button.active:focus span.ui-button-text {
    background-position:right -115px;
}

div.ui-widget-loading.css2 {
    width:50px;
    height:50px;
    border:solid 1px #999;
    visibility:visible !important;
}

div.ui-widget-loading.css2 div.ui-widget-loading1 {
    display:none;
    visibility:visible !important;
}

div.ui-widget-loading.css2 div.ui-widget-loading2 {
    width:50px;
    height:50px;
    background:url(/Shared/images2/loading/loading-full.gif) no-repeat;
    padding:0px !important;
    margin:0px !important;
    visibility:visible !important;
}

div.ui-widget-loading.css3 {
    width:50px;
    height:50px;
    position:absolute;
    padding:0px !important;
    margin:0px !important;
    visibility:visible !important;
}

div.ui-widget-loading.css3 div.ui-widget-loading1 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(22,180,254,0.9);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:40px;
    box-shadow: 0 0 35px #3ec2ff;
    width:40px !important;
    height:40px !important;
    position:absolute !important;
    left:50% !important;
    top:50% !important;
    padding:0px !important;
    margin-left:-25px !important;
    margin-top:-25px !important;
    margin-right:auto !important;
    margin-bottom:auto !important;
    -webkit-animation:spinPulse 1.5s infinite linear;
    -moz-animation:spinPulse 1.5s infinite linear;
    -o-animation:spinPulse 1.5s infinite linear;
    animation:spinPulse 1.5s infinite linear;
    visibility:visible !important;
}
div.ui-widget-loading.css3 div.ui-widget-loading2 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(22,180,254,0.9);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:20px;
    box-shadow: 0 0 15px #3ec2ff;
    width:20px !important;
    height:20px !important;
    position:absolute !important;
    left:50% !important;
    top:50% !important;
    padding:0px !important;
    margin-left:-15px !important;
    margin-top:-15px !important;
    margin-right:auto !important;
    margin-bottom:auto !important;
    -webkit-animation:spinoffPulse 1s infinite linear;
    -moz-animation:spinoffPulse 1s infinite linear;
    -o-animation:spinoffPulse 1s infinite linear;
    animation:spinoffPulse 1s infinite linear;
    visibility:visible !important;
}

@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #1362a5; }
    50% { -webkit-transform:rotate(145deg); opacity:1; }
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #1362a5; }
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-o-keyframes spinPulse {
    0% { -o-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #1362a5; }
    50% { -o-transform:rotate(145deg); opacity:1; }
    100% { -o-transform:rotate(-320deg); opacity:0; }
}
@keyframes spinPulse {
    0% { transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #1362a5; }
    50% { transform:rotate(145deg); opacity:1; }
    100% { transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-o-keyframes spinoffPulse {
    0% { -o-transform:rotate(0deg); }
    100% { -o-transform:rotate(360deg); }
}
@keyframes spinoffPulse {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}

div.ui-widget-loading2.css3 {
    width:58px;
    height:58px;
    padding:0px;
    margin:0px;
    border:solid 1px #ccc;
    border-radius:50%;
    visibility:visible !important;
}

div.ui-widget-loading2.css3 div {
    width:58px;
    height:58px;
    padding:0px;
    margin:0px;
    border-radius:50%;
    position:absolute;
    left:0px;
    top:0px;
    visibility:visible !important;
}

div.ui-widget-loading2.css3 div div {
    width:10px;
    height:10px;
    border:solid 1px #ccc;
    opacity:0.7;
    left:auto;
    top:auto;
    visibility:visible !important;
}

div.ui-widget-loading2.css3 div.o-circle-1 div {
    background-color:#a02141;
    left:0%;
    top:0%;
    margin-left:6px;
    margin-top:6px;
}

div.ui-widget-loading2.css3 div.o-circle-2 div {
    background-color:#247e59;
    right:0%;
    top:0%;
    margin-right:6px;
    margin-top:6px;
}

div.ui-widget-loading2.css3 div.o-circle-3 div {
    background-color:#6c911f;
    right:0%;
    bottom:0%;
    margin-right:6px;
    margin-bottom:6px;
}

div.ui-widget-loading2.css3 div.o-circle-4 div {
    background-color:#efc23e;
    left:0%;
    bottom:0%;
    margin-left:6px;
    margin-bottom:6px;
}

div.ui-widget-loading2.css3 div.o-circle-1 {
    -webkit-animation:spinoffPulse 1.13s infinite linear;
    -moz-animation:spinoffPulse 1.13s infinite linear;
    -o-animation:spinoffPulse 1.13s infinite linear;
    animation:spinoffPulse 1.13s infinite linear;
}

div.ui-widget-loading2.css3 div.o-circle-2 {
    -webkit-animation:spinoffPulse 1.86s infinite linear;
    -moz-animation:spinoffPulse 1.86s infinite linear;
    -o-animation:spinoffPulse 1.86s infinite linear;
    animation:spinoffPulse 1.86s infinite linear;
}

div.ui-widget-loading2.css3 div.o-circle-3 {
    -webkit-animation:spinoffPulse 1.45s infinite linear;
    -moz-animation:spinoffPulse 1.45s infinite linear;
    -o-animation:spinoffPulse 1.45s infinite linear;
    animation:spinoffPulse 1.45s infinite linear;
}

div.ui-widget-loading2.css3 div.o-circle-4 {
    -webkit-animation:spinoffPulse 1.72s infinite linear;
    -moz-animation:spinoffPulse 1.72s infinite linear;
    -o-animation:spinoffPulse 1.72s infinite linear;
    animation:spinoffPulse 1.72s infinite linear;
}

div.ui-shadow-right {
    width:9px;
    background:url(/Shared/images2/Shadow/Shadow_02.png) no-repeat;
    z-index:0;
    _display:none;
}

div.ui-shadow-corner {
    width:9px;
    height:9px;
    background:url(/Shared/images2/Shadow/Shadow_04.png) no-repeat;
    z-index:0;
    _display:none;
}

div.ui-shadow-bottom {
    height:9px;
    background:url(/Shared/images2/Shadow/Shadow_03.png) no-repeat;
    z-index:0;
    _display:none;
}

div.ui-resizable-se {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    background:url(/Admin/images2/wizard/Resize.gif) no-repeat 0px 0px;
    cursor:se-resize;

}

div.ui-tooltip {
    position:absolute !important;
    width:auto !important;
    height:22px !important;
    margin:2px 0px 0px 2px !important;
    padding:0px 0px 0px 6px !important;
    background:#ffffff;
    border:solid 1px rgba(0,0,0,.4);
    z-index:1;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 0 4px rgba(0,0,0,.4);
    -moz-box-shadow:0 0 4px rgba(0,0,0,.4);
    box-shadow:0 0 4px rgba(0,0,0,.4);
}

div.ui-tooltip div {
    height:22px !important;
    width:auto !important;
    margin:0px !important;
    padding:0px 6px 0px 0px !important;
    display:block;
}

div.ui-tooltip div span {
    font:normal 12px/22px Arial !important;
    padding:0px !important;
    margin:0px !important;
    display:inline !important;
    color:#404040 !important;
    white-space: nowrap;
}

div.ui-tooltip.ie {
    height:28px !important;
    margin:0px !important;
    padding:0px 0px 0px 9px !important;
    background:url(/Admin/images2/ToolTip_01.png) no-repeat left top !important;
    border:none;
}

div.ui-tooltip.ie div {
    height:28px !important;
    padding:0px 9px 0px 0px !important;
    background:url(/Admin/images2/ToolTip_02.png) no-repeat right top !important;
}

div.ui-tooltip.ie div span {
    font:normal 12px/28px Arial !important;
}
/* Dialog box */


/* Flyout Menu */
div.iflylist
{
    display:none;
    background-color:#ffffff;
    position:absolute;
    list-style:none;
    margin:0px;
    padding:0px;
    border-top:solid 1px #333333;
    z-index:10;
}
div.iflyOverflow
{
    overflow-y:hidden;
}
div.ifly
{
    border-left:solid 1px #333333;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    background-color:#ffffff;
    white-space:nowrap;
    cursor:pointer;
    cursor:hand;
    width:auto;
}
div.iflyie6
{
    width:200px;
    white-space:normal;
}
div.ifly a
{
    display:block;
    padding:0px 12px 0px 12px;
    color:#333333;
    text-decoration:none;
    line-height:20px;
    outline:none;
}
div.iflyOver
{
    background-color:#000099;
}
div.iflyOver a
{
    color:#ffffff;
}
div.iflyRight
{
    background-image:url(/Shared/images/tree/fly.gif);
    background-position:right center;
    background-repeat:no-repeat;
}
div.iflyLeft
{
    background-image:url(/Shared/images/tree/flyleft.gif);
    background-position:left center;
}
div.iflyLoading
{
    background-image:url(/Shared/images/tree/flyload.gif);
}
div.ifly sup
{
    font-size:10px;
    text-decoration:none;
    margin-left:1px;
}
div.iflylist div.ui-more-items {
    background:#0f2d50;
    width:auto;
    height:24px;
    margin:0px;
    padding:3px;
    border-top:solid 1px #9fabb9;
}

div.iflylist div.ui-more-items img.more-up {
    width:70px;
    height:20px;
    background:url(/Admin/images2/Toolbar_02.gif) no-repeat -266px -202px;
    border:0px;
    cursor:pointer;
    float:left;
    margin-left:10px;
}

div.iflylist div.ui-more-items img.more-down {
    width:70px;
    height:20px;
    background:url(/Admin/images2/Toolbar_02.gif) no-repeat -328px -202px;
    border:0px;
    cursor:pointer;
    background-color:green;
    float:right;
    margin-right:10px;
}
/* End Flyout menu */


/* Video Vault */
div.ui-dialog-titlebar.video-vault {
    background:#13304c;
    height:10px;
    _font:normal 1px/1px Arial;
}

div.ui-dialog-titlebar.video-vault.Tan {
    background-color:#988675;
}

div.ui-dialog-titlebar.video-vault.Green {
    background-color:#003613;
}

div.ui-dialog-titlebar.video-vault.Gray {
    background-color:#707070;
}

div.ui-dialog-titlebar.video-vault.Red {
    background-color:#790000;
}

div.ui-dialog-titlebar.video-vault.Blue {
    background-color:#13304c;
}

div.ui-dialog-titlebar.video-vault.Black {
    background-color:#000000;
}

div.ui-dialog-titlebar.video-vault.White {
    background-color:#FFFFFF;
}

div.ui-dialog div.vv-main {
    display:block;
    margin:0px;
    padding:0px;
    width:754px;
    height:570px;
    background:url(/Shared/videovault/theme/Blue.png) no-repeat left bottom;
    border:none;
}

div.ui-dialog div.vv-main a {
    text-decoration:none;
}

div.ui-dialog div.vv-main a:hover {
    text-decoration:none;
}

div.ui-dialog div.vv-main.Tan {
    background-image:url(/Shared/videovault/theme/Tan.png);
    _background-image:url(/Shared/videovault/theme/Tan.jpg);
}

div.ui-dialog div.vv-main.Green {
    background-image:url(/Shared/videovault/theme/Green.png);
    _background-image:url(/Shared/videovault/theme/Green.jpg);
}

div.ui-dialog div.vv-main.Gray {
    background-image:url(/Shared/videovault/theme/Gray.png);
    _background-image:url(/Shared/videovault/theme/Gray.jpg);
}

div.ui-dialog div.vv-main.Red {
    background-image:url(/Shared/videovault/theme/Red.png);
    _background-image:url(/Shared/videovault/theme/Red.jpg);
}

div.ui-dialog div.vv-main.Blue {
    background-image:url(/Shared/videovault/theme/Blue.png);
    _background-image:url(/Shared/videovault/theme/Blue.jpg);
}

div.ui-dialog div.vv-main.Black {
    background-image:url(/Shared/videovault/theme/Black.png);
    _background-image:url(/Shared/videovault/theme/Black.jpg);
}

div.ui-dialog div.vv-main.White {
    background-image:url(/Shared/videovault/theme/White.png);
    _background-image:url(/Shared/videovault/theme/White.jpg);
}

div.ui-dialog div.vv-main div.vv-video {
    position:absolute;
    top:6px;
    left:16px;
    width:512px;
    height:288px;
    margin:0px;
}

div.ui-dialog div.vv-main div.vv-details {
    position:absolute;
    width:190px;
    height:195px;
    top:10px;
    right:16px;
    margin:0px;
    overflow:auto;
}

div.ui-dialog div.vv-main div.vv-details h3 {
    margin:0px;
    padding:10px 0px;
    font:bold 16px/16px Arial;
    color:#ffffff;
}

div.ui-dialog div.vv-main div.vv-details div {
    font:normal 12px/16px Arial;
    color:#d7d7d7;
}

div.ui-dialog div.vv-main.White div.vv-details h3 {
    color:#4083bc;
}

div.ui-dialog div.vv-main.White div.vv-details div {
    color:#5391c6;
}

div.ui-dialog div.vv-main div.vv-buttons {
    position:absolute;
    top:205px;
    right:3px;
    width:210px;
    height:105px;
    margin:0px;
}

div.ui-dialog div.vv-main div.vv-buttons a {
    display:block;
    float:left;
    width:52px;
    height:54px;
    margin:0px 0px 0px 0px;
}

div.ui-dialog div.vv-main a:hover {
    text-decoration:none;
}

div.ui-dialog div.vv-main a:active {
    outline:none;
}

div.ui-dialog div.vv-main a:focus {
    outline:none;
}

div.ui-dialog div.vv-main div.vv-buttons a.vv-prev {
    width:101px;
    height:40px;
    margin:5px 0px 0px 0px;
}

div.ui-dialog div.vv-main div.vv-buttons a.vv-next {
    width:101px;
    height:40px;
    margin:5px 0px 0px 5px;
}

div.ui-dialog div.vv-main div.vv-categories {
    position:absolute;
    top:320px;
    left:10px;
    width:733px;
    height:40px;
    overflow:hidden;
}

div.ui-dialog div.vv-main div.vv-categories a.vv-prev {
    display:block;
    zoom:1;
    position:absolute;
    top:0px;
    left:0px;
    width:25px;
    height:40px;
}

div.ui-dialog div.vv-main div.vv-categories a.vv-next {
    display:block;
    zoom:1;
    position:absolute;
    top:0px;
    right:0px;
    width:25px;
    height:40px;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel {
    position:absolute;
    top:0px;
    left:25px;
    width:680px;
    height:40px;
    overflow:hidden;
}


div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller {
    height:40px;
    width:19999px;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller div.vv-category {
    float:left;
    height:40px;
    width:auto;
    _width:160px;
    margin:0px;
    padding:0px;
    cursor:pointer;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background:url(/Shared/videovault/theme/highlight.png) repeat-x 0px -160px;
    position:relative;
    top:0px;
    left:-1px;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background:url(/Shared/videovault/theme/highlight.png) repeat-x 0px -160px;
    position:relative;
    top:0px;
    left:-1px;
}

div.ui-dialog div.vv-main.Tan div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px 0px;
}

div.ui-dialog div.vv-main.Tan div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -0px;
}

div.ui-dialog div.vv-main.Green div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px -40px;
}

div.ui-dialog div.vv-main.Green div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -40px;
}

div.ui-dialog div.vv-main.Gray div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px -80px;
}

div.ui-dialog div.vv-main.Gray div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -80px;
}

div.ui-dialog div.vv-main.Red div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px -120px;
}

div.ui-dialog div.vv-main.Red div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -120px;
}

div.ui-dialog div.vv-main.Blue div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px -160px;
}

div.ui-dialog div.vv-main.Blue div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -160px;
}

div.ui-dialog div.vv-main.Black div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px -200px;
}

div.ui-dialog div.vv-main.Black div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -200px;
}

div.ui-dialog div.vv-main.White div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover {
    background-position:0px -240px;
}

div.ui-dialog div.vv-main.White div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active {
    background-position:0px -240px;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    display:block;
    zoom:1;
    margin:10px 0px 0px 0px;
    padding:3px 15px;
    border-right:solid 1px #436484;
    font:normal 12px/12px Arial;
    color:#ffffff;
}

div.ui-dialog div.vv-main.Tan div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#93867b;
}

div.ui-dialog div.vv-main.Green div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#438c54;
}

div.ui-dialog div.vv-main.Gray div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#c2c2c2;
}

div.ui-dialog div.vv-main.Red div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#823536;
}

div.ui-dialog div.vv-main.Blue div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#436484;
}

div.ui-dialog div.vv-main.Black div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#4d4d4d;
}

div.ui-dialog div.vv-main.White div.vv-categories div.vv-panel div.vv-scroller div.vv-category span {
    border-color:#e0dede;
    color:#4083bc;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller div.vv-category.active span {
    border-color:transparent;
    padding-left:16px;
    padding-right:14px;
}

div.ui-dialog div.vv-main div.vv-categories div.vv-panel div.vv-scroller div.vv-category:hover span {
    border-color:transparent;
    padding-left:16px;
    padding-right:14px;
}

div.ui-dialog div.vv-main div.vv-videos {
    position:absolute;
    top:365px;
    left:11px;
    width:732px;
    height:185px;
}

div.ui-dialog div.vv-main div.vv-videos a.vv-prev {
    display:block;
    zoom:1;
    position:absolute;
    top:60px;
    left:3px;
    width:40px;
    height:60px;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow {
    width:640px;
    height:185px;
    margin:0px auto;
    overflow:hidden;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow div.vv-scroller {
    height:185px;
    width:19999px;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow div.vv-scroller div.vv-thumb {
    width:144px;
    height:138px;
    float:left;
    margin:16px 8px 0px 8px;
    background:url(/Shared/videovault/theme/default.png) no-repeat center 4px;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow div.vv-scroller div.vv-thumb div {
    width:144px;
    height:138px;
    cursor:pointer;
    background:url(/Shared/videovault/theme/glow.png) no-repeat 144px 0px;
    _background:url(/Shared/videovault/theme/glow.gif) no-repeat 144px 0px;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow div.vv-scroller div.vv-thumb div.over {
    background-position: -144px 0px;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow div.vv-scroller div.vv-thumb div.active {
    background-position: 0px 0px;
}

div.ui-dialog div.vv-main div.vv-videos div.vv-coverflow div.vv-title {
    position: absolute;
    bottom: 7px;
    width:640px;
    text-align:center;
    font:normal 12px/12px Arial;
    color:#ffffff;
}

div.ui-dialog div.vv-main div.vv-videos a.vv-next {
    display:block;
    zoom:1;
    position:absolute;
    top:60px;
    right:3px;
    width:40px;
    height:60px;
}
/* End Video Vault */


/* Lightbox */
div.cms-lightbox {
    padding: 5px 60px;
    position:relative;
    background-color:#ffffff;
}

div.cms-lightbox div.cms-lightbox-image {
    position:relative;
}

div.cms-lightbox div.cms-lightbox-image div {
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    left: 0px;
    top: 0px;
}

div.cms-lightbox div.cms-lightbox-nav {
    position:absolute;
    top: 25px;
    left: 0px;
    right:auto;
    z-index:10;
    padding:150px 3px;
    padding-right:150px;
    cursor: default;
}

div.cms-lightbox div.cms-lightbox-nav div {
    display:none;
    background-color: #e0e0e0;
    border: solid 1px #999999;
    color: #707070;
    padding: 3px 5px;
    font: normal 15px/15px Arial;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

div.cms-lightbox div.cms-lightbox-nav.next {
    left: auto;
    right: 0px;
    text-align: right;
    padding:150px 3px;
    padding-left:150px;
}

div.cms-lightbox div.cms-lightbox-description {
    height:30px;
    margin: 5px 2px 0px 2px;
    background-color:#ffffff;
    padding: 3px 6px;
    color: #707070;
    border: solid 1px #f3f3f3;
    font: normal 12px/12px Arial;
}

div.cms-lightbox div.cms-lightbox-images {
    height: 52px;
    overflow: hidden;
    margin: 5px auto 0px -35px;
}

div.cms-lightbox div.cms-lightbox-images div {
    width: 6000px !important;
    height: 52px !important;
    padding: 0px !important;
    margin: 0px;
}

div.cms-lightbox div.cms-lightbox-images div div {
    float: left;
    width: 50px !important;
    height: 50px !important;
    margin: 0px 5px 0px 0px !important;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 1px #cccccc;
    opacity: 0.55;
    filter: alpha(opacity=55);
    cursor: pointer;
}

div.cms-lightbox div.cms-lightbox-images div div.active {
    opacity: 1;
    filter: none;
}

div.cms-lightbox div.cms-lightbox-images div div:hover {
    opacity: 1;
    filter: none;
}

div.cms-lightbox div.cms-lightbox-panel {
    position: absolute;
    left: 0px;
    bottom: 15px;
    font: normal 24px/24px Arial;
    color: #707070;
    cursor:pointer;
    padding:5px 2px 5px 5px;
}

div.cms-lightbox div.cms-lightbox-panel.next {
    left: auto;
    right: 0px;
    padding:5px 5px 5px 2px;
}

div.cms-lightbox div.cms-lightbox-panel:hover {
    color: #21719e;
}
/* End Lightbox */

/* Lightbox2 */
div.lightbox-sharing {
    position:absolute;
    top:-46px;
    left:0px;
    background-color:rgba(0,0,0,.7);
    background-color:#000000\9;
    width:310px;
    height:46px;
}

div.lightbox-sharing a icon {
    display:block;
    padding:10px;
    font-size:30px;
    color:#9c9c9c;
    float:left;
    cursor:pointer;
}

div.lightbox-sharing a icon:hover {
    color:#ffffff;
}

div.ui-dialog.lightbox {
    border-radius: 5px;
    -moz-border-radius: 5pfx;
    -webkit-border-radius: 5px;
    background:#000;
}

div.ui-dialog.lightbox div.ui-dialog-titlebar {
    background:#aaa;
    height:2px;
    border:solid 1px #b0b0b0;
    padding:0px;
    border-bottom:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.ui-dialog.lightbox div.ui-dialog-titlebar span.ui-dialog-title {
    display:none;
}

div.ui-dialog.lightbox a.ui-dialog-titlebar-close {
    right:0px;
    top:-35px;
}

div.ui-dialog.lightbox div.ui-dialog-top {
    border-top:none;
}

div.ui-dialog.lightbox div.ui-dialog-content {
    background:#aaa;
    border:solid 1px #aaa;
    border-top:none;
    padding:0px 2px 2px 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.ui-dialog.lightbox span.ui-dialog-close-btn {
    width: 28px;
    height: 35px;
    background-image: url(/Shared/images2/wizard/box-close.png);
}

div.cms-lightbox2 {
    padding:0px;
    position:relative;
    background-color:#000;
    border-radius:4px;
}

div.cms-lightbox2 div.cms-lightbox2-image {
    position:relative;
}

div.cms-lightbox2 div.cms-lightbox2-image div {
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    left: 0px;
    top: 0px;
}

div.cms-lightbox2-caption {
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-325px;
    z-index:10;
    width:600px;
    padding:25px;
    height:auto;
    text-align:center;
    font-family:Arial;
    font-size:14px;
    line-height:20px;
    color:#fff;
    box-shadow:6px 6px 12px rgba(0,0,0,.2);
    background-color:rgba(0,0,0,.8);
    background-color:#000000\9;
}

div.cms-lightbox2 div.cms-lightbox2-nav {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index:10;
    width:90px;
    height:100%;
    padding:0px;
    cursor: default;
    color:#ffffff;
    cursor:pointer;
    text-align:center;
}

div.cms-lightbox2 div.cms-lightbox2-nav.next {
    top: 0px;
    left: auto;
    right: 0px;
    padding: 0px;
}

div.cms-lightbox2 div.cms-lightbox2-nav div {
    padding:0px;
    border: none;
}

div.cms-lightbox2 div.cms-lightbox2-nav div.btns {
    display:none;
    border: none;
    color: #ffffff;
    font: normal 26px/36px Arial;
    border-radius:2px;
    text-transform:uppercase;
    position:absolute;
    top:240px;
    left:0px;
    width:90px;
    z-index:10;
    background:none;
}

div.cms-lightbox2 div.cms-lightbox2-nav div.shade {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
}
/* End Lightbox2 */

/* Mobile Lightbox */
div.mobileOverlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:500;
    background-color:#000;
}

div.cms-lightboxm {
    padding:0px;
    border-radius:4px;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:501;
}

div.cms-lightboxm div.cms-lightboxm-titlebar {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:50px;
    border-bottom:solid 1px rgba(50,50,50,.5);
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,.4) 0%,rgba(80,80,80,.4) 40%,rgba(70,70,70,.4) 41%,rgba(50,50,50,.6) 100%);
    box-shadow: 0px 2px 4px rgba(0,0,0,.1);
    font-size:35px;
    line-height:50px;
    text-align:center;
    color:#ffffff;
    font-family:'Arial';
    text-shadow:0px -1px 1px rgba(0,0,0,.8);
    z-index:2;
}

div.cms-lightboxm div.cms-lightboxm-titlebar span {
    display:block;
    font-size:16px;
}

body.mobile-portrait div.cms-lightboxm div.cms-lightboxm-titlebar {
    height:43px;
    font-size:30px;
    line-height:43px;
}

body.mobile-landscape div.cms-lightboxm div.cms-lightboxm-titlebar {
    height:20px;
    font-size:17px;
    line-height:20px;
}

div.cms-lightboxm div.cms-lightbox2-image {
    position:relative;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    z-index:1;
}

div.cms-lightboxm div.cms-lightbox2-image div {
    position:absolute;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    left:0px;
    top:0px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
}

div.cms-lightboxm div.cms-lightboxm-navbar {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    border-top:solid 1px rgba(50,50,50,.5);
    background: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(80,80,80,.4) 50%,rgba(70,70,70,.5) 51%,rgba(50,50,50,.6) 100%);
    box-shadow: 0px -2px 4px rgba(0,0,0,.1);
    z-index:2;
    font-size:25px;
    line-height:50px;
}

div.cms-lightboxm a {
    color:#fff;
    text-decoration:none;
    display:block;
    position:absolute;
    height:100%;
    padding:0px 20px;
}

div.cms-lightboxm a.nav-close {
    top:0%;
    right:0%;
}

div.cms-lightboxm a.nav-prev {
    top:0%;
    left:33%;
}

div.cms-lightboxm a.nav-next {
    top:0%;
    left:66%;
}

body.mobile-portrait div.cms-lightboxm div.cms-lightboxm-navbar {
    height:43px;
    font-size:21px;
    line-height:43px;
}

body.mobile-landscape div.cms-lightboxm div.cms-lightboxm-navbar {
    height:20px;
    font-size:11px;
    line-height:20px;
}
/* Mobile Lightbox */

/* Date Picker */
div.ui-datepicker {
    padding:0px 10px 10px 10px;
    font:normal 12px/12px Arial;
}

div.ui-datepicker div {
    color:#505050;
}

div.ui-datepicker div.ui-date {
    width:218px;
    height:285px;
}

div.ui-datepicker div.ui-title {
    clear:both;
    text-align:center;
    padding:8px 0px 2px 0px;
    height:11px;
    font:normal 11px/11px Arial;
}

div.ui-datepicker div.ui-date div.ui-years {
    clear:both;
}

div.ui-datepicker div.ui-date div.ui-years div.ui-list {
    position:relative;
}

div.ui-datepicker div.ui-date div.ui-years div.ui-list div.ui-pop {
    display:none;
    position:absolute;
    top:19px;
    left:0px;
    height:235px;
    width:68px;
    border:none;
    background:#fff;
    z-index:1;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:1px;
    -moz-box-shadow:3px 3px 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, .25);
    box-shadow:3px 3px 3px rgba(0, 0, 0, .25);
    z-index:2;
}

div.ui-datepicker div.ui-date div.ui-years div.ui-list div.ui-pop.left {
    left:29px;
}

div.ui-datepicker div.ui-date div.ui-years div.ui-list div.ui-pop.right {
    left:-54px;
}

div.ui-datepicker div div div {
    float:left;
    padding:3px 5px;
    font:normal 12px/12px Arial;
    border:solid 1px #adc8de;
    margin:0px 1px 1px 0px;
    text-align:center;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    cursor:default;
    background:url(/Shared/images2/wizard/btn-bg.gif) repeat-x left center;
    color:#15416d;
}

div.ui-datepicker div div div:hover {
    background:#fbec88;
    border-color:#ecc000;
}

div.ui-datepicker div div div.selected {
    background:#fcfcfc;
    border-color:#404040;
    color:#000;
}

div.ui-datepicker div.ui-date div.ui-years div {
    width:auto;
    padding:3px 11px 3px 10px;
}

div.ui-datepicker div.ui-date div.ui-months {
    clear:both;
    padding:0px 0px 0px 1px;
}

div.ui-datepicker div.ui-date div.ui-months div {
    width:23px;
}

div.ui-datepicker div.ui-date div.ui-weeks {
    clear:both;
}

div.ui-datepicker div.ui-date div.ui-weeks div {
    width:24px;
    padding:2px 2px;
    font:normal 11px/11px Arial;
    cursor:auto;
    background:#eee;
    border-color:#999;
    color:#505050;
}

div.ui-datepicker div.ui-date div.ui-days {
    clear:both;
}

div.ui-datepicker div.ui-date div.ui-days div {
    width:24px;
    padding:3px 2px;
    margin:0px 1px 1px 0px;
}

div.ui-datepicker div.ui-date div.ui-days div.disabled {
    background:#f9fcff;
    border-color:#d8e4ee;
}

div.ui-datepicker div.ui-time {
    width:123px;
    height:265px;
}

div.ui-datepicker div.ui-time div {
    float:right;
    width:45px;
    height:265px;
}

div.ui-datepicker div.ui-time div.ui-hours {
    width:32px;
}

div.ui-datepicker div.ui-time div div {
    width:18px;
    height:auto;
    float:right;
    padding:3px 5px 2px 5px;
}

div.ui-datepicker div.ui-time div.ui-title {
    height:11px;
    background:none;
    border:none;
    font-size:11px;
    color:#505050;
    padding:8px 0px 2px 0px;
    width:30px;
}

div.ui-datepicker div.ui-title a.ui-today {
    margin:0px;
    padding:0px;
    font:normal 11px/11px Arial;
    color:#15416d;
    text-decoration:none;
}

div.ui-datepicker div.ui-title a.ui-today:hover {
    color:#15416d;
    text-decoration:underline;
}

div.ui-datepicker.mask div div div {
    color:#cdd9e5;
    border-color:#e0e9f1;
    background:#f9fcff;
}

div.ui-datepicker.mask div div.ui-title {
    color:#cccccc;
}

div.ui-datepicker.mask div.ui-date div.ui-weeks div {
    background:#f9f9f9;
    border-color:#ccc;
    color:#ccc;
}

div.ui-datepicker.mask div.ui-date div.ui-days div.disabled {
    background:#fff;
    border-color:#f2f2f2;
}

div.ui-datepicker.mask div div div.ui-year {
    background:url(/Shared/images2/wizard/btn-bg.gif) repeat-x left center;
    border-color:#adc8de;
    color:#15416d;
}

div.ui-datepicker.mask div div div.ui-year2 {
    background:url(/Shared/images2/wizard/btn-bg.gif) repeat-x left center;
    border-color:#adc8de;
    color:#15416d;
}

div.ui-datepicker.mask  div div div.ui-year:hover {
    background:#fbec88;
    border-color:#ecc000;
}

div.ui-datepicker.mask  div div div.ui-year2:hover {
    background:#fbec88;
    border-color:#ecc000;
}

div.ui-datepicker.mask div div div.selected {
    background:#ffffff;
    border-color:#bbb;
    color:#bbb;
}

div.ui-datepicker.mask div div div.ui-year.selected {
    background:#fcfcfc;
    border-color:#404040;
    color:#000;
}

div.ui-datepicker.mask div div div.ui-year2.selected {
    background:#fcfcfc;
    border-color:#404040;
    color:#000;
}
/* End Date Picker */


/* Spell Checker */
div.sp-main {
    padding:10px;
}

div.sp-main div.sp-content {
    border:solid 1px #ccc;
    padding:5px 15px;
    overflow:auto;
    width:646px;
    height:440px;
    margin-bottom:10px;
    background-color:#f2f2f2;
}

div.sp-main div.sp-content span[scayt_word] {
    background:url(/Shared/images2/wizard/misspelled.gif) repeat-x center bottom transparent !important;
    padding-bottom:0 !important;
    text-decoration:none !important;
    white-space:nowrap !important;
    cursor:pointer;
}

div.sp-main div.sp-content span.scayt-selected {
    background:url(/Shared/images2/wizard/misspelled.gif) repeat-x center bottom transparent !important;
    background-color:#FFFF00 !important;
    color:#000 !important;
    padding-bottom:0 !important;
    text-decoration:none !important;
    white-space:nowrap !important;
}

div.sp-main div.sp-buttons {
    position:absolute;
    right:10px;
    bottom:10px;
    width:172px;
    display:none;
}

div.sp-main div.sp-buttons a {
    display:block;
    margin-bottom:3px;
    border:solid 1px #e0e0e0;
    background-color:#ebebeb;
    color:#909090;
    text-align:center;
    padding:3px;
    font:normal normal 12px/12px Arial;
    outline:none;
}

div.sp-main div.sp-buttons a:hover {
    background-color:#e0e0e0;
    border-color:#d9d9d9;
    color:#404040;
    text-decoration:none;
}

div.sp-main div.sp-suggest {
    position:absolute;
    right:10px;
    top:10px;
    border:solid 1px #ccc;
    padding:5px 0px 0px 5px;
    width:165px;
    height:368px;
}

div.sp-main div.sp-suggest h3 {
    margin:0px;
    padding:5px 0px;
    font:normal bold 13px/13px Arial;
    color:#65acdc;
    word-wrap:break-word;
    word-break:break-all;
}

div.sp-main div.sp-suggest a {
    display:block;
    float:left;
    text-decoration:none;
    border:solid 1px #ccc;
    width:160px;
    height:17px;
    text-align:center;
    font:normal normal 11px/18px Arial;
    color:#404040;
    margin:0px 5px 1px 0px;
    outline:none;
    word-wrap:break-word;
    word-break:break-all;
}

div.sp-main a:active {
    outline:none;
}

div.sp-main a:focus {
    outline:none;
}

div.sp-main div.sp-suggest a:hover {
    text-decoration:none;
    border-color:#999;
    background-color:#f2f2f2;
}

div.sp-main div.sp-suggest a.active {
    text-decoration:none;
    border-color:#707070;
    background-color:#e3e3e3;
    color:#225f88;
}
/* End Spell Checker */

body div.ck-editor {
    width:auto;
    height:auto;
    margin:0px;
    padding:0px;
    position:relative;
}

body div.ck-editor-code {
    background-color:#ffffff;
    border:solid 1px #cccccc;
    display:none;
}

body div.ck-editor-bottom {
    height:auto;
    border-top:none;
}

body div.ck-editor-bottom a {
    display:block !important;
    float:left !important;
    background-image:url(/Shared/images2/CK-Button.gif) !important;
    font:bold 14px/37px Arial !important;
    width:97px !important;
    height:37px !important;
    text-align:center !important;
    margin:7px 5px 0px 1px !important;
}

body div.ck-editor-bottom a:hover {
    text-decoration:none !important;
}

body div.ck-editor-bottom a:active {
    outline:none !important;
}

body div.ck-editor-bottom a:focus {
    outline:none !important;
}

body div.ck-editor-bottom.max {
    position: fixed;
    right: 35px;
    top: 35px;
    margin: 0px;
    z-index: 999;
}

body div.ck-editor-bottom.max a {
    margin:4px 8px;
}

body div.ck-editor-code.max {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width:100% !important;
    height:100% !important;
}

body .ck-editor-submit.max {
    position: absolute;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}

body div.ck-editor-bottom.max2 {
    position: fixed;
    right: 35px;
    top: 12px;
    margin: 0px;
    z-index: 9999;
}

body div.ck-editor-bottom.max2 a {
    margin:4px 8px;
    border-radius:8px;
}

body div.ck-editor-code.max2 {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width:100% !important;
    height:100% !important;
}

body .ck-editor-submit.max2 {
    position: absolute;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 9999;
}

.nospacing { padding:0px !important;margin:0px !important;border:none !important; }
table.nospacing { border-collapse:separate !important;border-spacing:0 !important; }
.nospacing td { padding:0px !important;margin:0px !important;border:none !important;vertical-align:middle !important; }
.hideme { display:none; }

/* Admin Login default*/
div.admin-wrapper {
    margin:0px;
    background:#FFF url(/Shared/images2/a_bg.gif) left top repeat-x;
    height:1040px;
}
div.admin-wrapper div.admin_lbg {
    width:940px;
    height:665px;
    margin:auto;
    background:#FFF url(/Shared/images2/a_loginbg.gif) left top no-repeat;
}
div.admin-wrapper div.admin_lbg div.one {
    padding-top:298px;
    margin-left:129px;
    height:26px;
    width:auto;
}
div.admin-wrapper div.admin_lbg div.two {
    margin-left:129px;
    height:83px;
}

/* End Admin Login default*/

/* Large Fonts */
.cobalt_largefonts, .cobalt_largefonts div, .cobalt_largefonts span, .cobalt_largefonts td, .cobalt_largefonts li {
    font-size:16px;
}
/* End Large Fonts */

.addthis_default_style a {
    margin-bottom:2px;
}


input.swf-upload-btn {
    display:inline-block;
    width:87px;
    height:25px;
    padding:0px;
    border:none;
    background:#fff;
    font:normal 0px/0px Arial;
    text-align:left;
    background:url(/Shared/images2/wizard/select-files3.gif);
    color:white;
    margin:0px;
}

img.itr {
    display:inline;
    border:none;
    vertical-align:middle;
    width:22px;
    height:22px;
    margin:1px;
    background:url(/Shared/images2/tree/Tree-Icons.gif) no-repeat 0px 0px;
}

img.itr_page	{ background-position:  0px   0px; }
img.itr_hpage	{ background-position:-22px   0px; }
img.itr_branch  { background-position:-66px   0px; }
img.itr_system  { background-position:-44px   0px; }

img.itr_page.itr_locked		{ background-position:  0px -22px; }
img.itr_hpage.itr_locked	{ background-position:-22px -22px; }
img.itr_system.itr_locked	{ background-position:-44px -22px; }
img.itr_branch.itr_locked	{ background-position:-66px -22px; }

img.itr_page.itr_ssl	{ background-position:  0px -44px; }
img.itr_hpage.itr_ssl	{ background-position:-22px -44px; }
img.itr_system.itr_ssl	{ background-position:-44px -44px; }
img.itr_branch.itr_ssl	{ background-position:-66px -44px; }

img.itr_page.itr_locked.itr_ssl		{ background-position:  0px -66px; }
img.itr_hpage.itr_locked.itr_ssl	{ background-position:-22px -66px; }
img.itr_system.itr_locked.itr_ssl	{ background-position:-44px -66px; }
img.itr_branch.itr_locked.itr_ssl	{ background-position:-66px -66px; }

img.itr_page.itr_hidden		{ background-position:  0px -88px; }
img.itr_hpage.itr_hidden	{ background-position:-22px -88px; }
img.itr_system.itr_hidden	{ background-position:-44px -88px; }
img.itr_branch.itr_hidden	{ background-position:-66px -88px; }

img.itr_page.itr_locked.itr_hidden		{ background-position:  0px -110px; }
img.itr_hpage.itr_locked.itr_hidden		{ background-position:-22px -110px; }
img.itr_system.itr_locked.itr_hidden	{ background-position:-44px -110px; }
img.itr_branch.itr_locked.itr_hidden	{ background-position:-66px -110px; }

img.itr_page.itr_ssl.itr_hidden		{ background-position:  0px -132px; }
img.itr_hpage.itr_ssl.itr_hidden	{ background-position:-22px -132px; }
img.itr_system.itr_ssl.itr_hidden	{ background-position:-44px -132px; }
img.itr_branch.itr_ssl.itr_hidden	{ background-position:-66px -132px; }

img.itr_page.itr_locked.itr_ssl.itr_hidden		{ background-position:  0px -154px; }
img.itr_hpage.itr_locked.itr_ssl.itr_hidden		{ background-position:-22px -154px; }
img.itr_system.itr_locked.itr_ssl.itr_hidden	{ background-position:-44px -154px; }
img.itr_branch.itr_locked.itr_ssl.itr_hidden	{ background-position:-66px -154px; }

img.itr_link			{ background-position:  0px -176px; }
img.itr_link.itr_hidden	{ background-position:-22px -176px; }
img.itr_color			{ background-position:-44px -176px; }
img.itr_picture			{ background-position:-66px -176px; }

img.itr_calendar		{ background-position:  0px -198px; }
img.itr_folder			{ background-position:-22px -198px; }
img.itr_trash			{ background-position:-44px -198px; }
img.itr_file			{ background-position:-66px -198px;}

img.itr_search			{ background-position:  0px -220px; }
img.itr_search:hover	{ background-position:-22px -220px; }
img.itr_folder.itr_hidden{ background-position:-44px -220px; }
img.itr_anchor			{ background-position:-66px -220px; }

img.itr_feed			{ background-position:  0px -242px; }
img.itr_video			{ background-position:-22px -242px; }
img.itr_clock			{ background-position:-44px -242px; }
img.itr_flash			{ background-position:-66px -242px; }

img.itr_remove			{ background-position:  0px -264px; }
img.itr_clip			{ background-position:-22px -264px; }
img.itr_clip2			{ background-position:-44px -264px; }
img.itr_clip3			{ background-position:-66px -264px; }

img.itr_money			{ background-position:  0px -286px; }
img.itr_money.itr_hidden{ background-position:-22px -286px; }
img.itr_a				{ background-position:-44px -286px; }
img.itr_b				{ background-position:-66px -286px; }

img.itr_c				{ background-position:  0px -308px; }
img.itr_d				{ background-position:-22px -308px; }

/*
img.itr_anchor{ background-image: url(/Shared/images/tree/pound.gif); }
img.itr_datab { background-image: url(/Shared/images/modules/Database.gif); }
img.itr_field { background-image: url(/Shared/images/modules/Field.gif); }
*/
img.itr_check {
    width:16px !important;
    margin:0px 2px !important;
    background-image:url(/Admin/images2/ToolBar_02.gif) !important;
    background-position:-284px -167px;
}
li:hover>a>img.itr_check	{ background-position:-316px -167px; }
li.checked img.itr_check	{ background-position:-300px -167px !important; }

sup.itr
{
    font-size:10px;
    text-decoration:none;
    margin-left:1px;
}

/* Credit Card Images */
.cc-images img {
    background:#fff url(/Shared/images2/CC-sprite.png) no-repeat 0px 0px;
    width:39px;
    height:33px;
}

div.cc-images img.Visa {background-position:0px 0px; }
div.cc-images img.MasterCard {background-position:-39px 0px;}
div.cc-images img.American-Express {background-position:-78px 0px;}
div.cc-images img.Discover {background-position:-117px 0px;}
div.cc-images img.Diners_Club {background-position:-156px 0px;}

/* Review Links Styles*/
div.reviews div.item {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
    float: left;
}

div.reviews div.item div.icon {
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) translateZ(0);
    opacity: 1;
}

div.reviews div.item:hover div.icon {
    transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(0px) translateZ(0);
    opacity: 0;
    filter: alpha(opacity=0);
}

div.reviews div.item:hover div.hoveritem {
    transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px) translateZ(0);
    opacity: 1;
    margin-left: 0px;
    filter: alpha(opacity=100);
}

div.reviews div.item div.hoveritem {
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(0px) translateZ(0);
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 6px;
    opacity: 0;
    filter: alpha(opacity=0);
}

div.reviews div.item div.hoveritem div {
    margin: 8px;
    line-height: 20px;
    border: solid 1px #ffffff;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:5px;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    text-decoration: none;
}

div.reviews div.item div.icon {
    background-image: url(/Shared/images2/Systems/ReviewSprites100x100.png);
    width: 100px;
    height: 100px;
    text-align: center;
}

div.reviews div.item div.AngiesList {
    background-position: 0 0;
}

div.reviews div.item div.Avvo {
    background-position: -100px 0px;
}

div.reviews div.item div.BetterBusiness {
    background-position: -200px 0;
}

div.reviews div.item div.BestOfWeb {
    background-position: -300px 0;
}

div.reviews div.item div.Bing {
    background-position: -400px 0;
}

div.reviews div.item div.CitySearch {
    background-position: -500px 0;
}

div.reviews div.item div.EZLocal {
    background-position: -600px 0;
}

div.reviews div.item div.GooglePlus {
    background-position: 0 -100px;
}

div.reviews div.item div.InsiderPages {
    background-position: -100px -100px;
}

div.reviews div.item div.JudysBook {
    background-position: -200px -100px;
}

div.reviews div.item div.Kudzu {
    background-position: -300px -100px;
}

div.reviews div.item div.Manta {
    background-position: -400px -100px;
}

div.reviews div.item div.MerchantCircle {
    background-position: -500px -100px;
}

div.reviews div.item div.SuperPages {
    background-position: -600px -100px;
}

div.reviews div.item div.Yahoo {
    background-position: -0px -200px;
}

div.reviews div.item div.Yellowpages {
    background-position: -100px -200px;
}

div.reviews div.item div.Yelp {
    background-position: -200px -200px;
}
/*End Review Links Styles*/

/* Marching Ants */
html.multiplebgs body .iantz {
    background-image: url('/Shared/images2/wizard/antz-h1.gif'),
    url('/Shared/images2/wizard/antz-v1.gif'),
    url('/Shared/images2/wizard/antz-h2.gif'),
    url('/Shared/images2/wizard/antz-v2.gif') !important;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y !important;
    background-position: top left, top right, bottom left, top left !important;
    text-decoration: none !mportant;
}

html.multiplebgs body .iantz:hover {
    text-decoration: none !mportant;
}

html.multiplebgs body img.iantz {
    outline:dashed 1px #0000cc !important;
}

html.multiplebgs body td.iantz {
    outline:dashed 1px #0000cc !important;
}

html.multiplebgs body tr.iantz {
    outline:dashed 1px #0000cc !important;
}

html.multiplebgs body table.iantz {
    outline:dashed 1px #0000cc !important;
}

html.no-multiplebgs body .iantz {
    outline:dashed 1px #0000cc !important;
}
/* End Marching Antz */